
<!DOCTYPE html>
<html class="h-100" lang="en"><head>
  <title>JEUX HULOGE</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body>

  <!-- Header -->
  <header id="header">
    <div class="inner">
      <a href="index.html" class="logo">JEUX HULOGE</a>
      <nav id="nav">
        <a href="index.html">Menu</a>
        <a href="game.html">Game</a>
        <a href="regle.html">Regle</a>
        <a href="score.html">Score</a>
      </nav>
    </div>
  </header>

  <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

  <!-- Banner -->
  <section id="banner" style="padding:2em 0 5em 0;">
    <div class="inner">
      <center><canvas id="game" style="border: 2px solid #888; background:url(../assets/images/image2.jpg); width:800px; height:600px; margin-bottom:1%;"></canvas></center>
      <ul id="liste" class="actions" style="margin:0 0 0 0;">
        <center>
          <a class="button alt" style="margin-right:5%;" onclick="maNouvelleGame()">JOUER</a>
          <div style="display:inline-block;">
            <input type="radio" name="radio" id="radio1" checked>
            <label for="radio1"><b>Facile</b></label>
          </div>
          <div style="display:inline-block;">
            <input type="radio" name="radio" id="radio2">
            <label for="radio2"><b>Difficile</b></label>
          </div>
        </center></ul>
        <div id="replayButton"></div>
      </div>
    </section>

    <!-- Footer -->
    <section id="footer">
      <div class="inner">
      </div>
    </section>

    <!-- import Class -->
    <script src="../js/class/mechant.js"></script>
    <script src="../js/class/perso.js"></script>
    <script src="../js/class/projectile.js"></script>
    <script src="../js/class/bonus.js"></script>

    <!-- import Gameplay -->
    <script src="../js/gameplay/controle.js"></script>

    <!-- impot Component -->
    <script src="../js/component/progressBar.js"></script>
    <script src="../js/component/scoreBoard.js"></script>
    <script src="../js/component/replayButton.js"></script>
    <script src="../js/component/bonusList.js"></script>
    <script src="../js/component/timer.js"></script>


    <!-- import Tools -->
    <script src="../js/tools/tools.js"></script>
    <script>
      var canvas = document.getElementById("game");

    function maNouvelleGame()
    {
      var liste = document.getElementById('liste');
      var i = 0;
      var levelMax = 10;

      var radio1 = document.getElementById("radio1");
      var radio2 = document.getElementById("radio2");

if(radio1.checked){
  var difficulter = true;
}else if(radio2.checked){
var difficulter = false;
}
      liste.remove();

      canvas.width=800;
      canvas.height=600;
      var ctx=canvas.getContext('2d');
      ctx.font = '20px serif'
      ctx.textAlign = "center";
      ctx.textBaseline = "middle";

      var perso = new PERSO(canvas.width>>1,canvas.height>>1,90,0);

var perso = new PERSO(canvas.width>>1,canvas.height>>1,90,0);
if (difficulter) {
  VAGUE(5, 1)
}else {
  VAGUE(10, 2)
}

var bonus = new BONUX(Math.random()*canvas.width,Math.random()*canvas.height,false, randomBonux())

var phase = 0;


//  document.addEventListener('keyup', controle);
var loop = function(){
  if(perso.life>0 && perso.level < levelMax)
  {
    window.requestAnimationFrame(loop);
    switch (phase) {
      case 0: // Les ennemis repoppent

        if(!( (perso.score) % 10 ) && perso.score != 0){
          MECHANTS=[];

          perso.level++

          VAGUE(10, perso.level);
          bonus = new BONUX(Math.random()*canvas.width,Math.random()*canvas.height, false, randomBonux())
          phase = 1;
        }

        break;
        case 1: // Nouvelle vague
          if(MECHANTS.length==0){
            phase = 0;
          }
          break;
      default:

    }


    controle();
    perso.avancer();
    draw(ctx);
  }
  else if(perso.life > 0 && perso.level == levelMax)
  {
    draw(ctx);
    ctx.fillText("Gagné ! 🏆 Score : " + calculFinalScore(), canvas.width>>1, canvas.height>>1);
    showReplayButton();
  }
  else
  {
    draw(ctx);
    ctx.fillText("Perdu ! 🤯 Score : " + calculFinalScore(), canvas.width>>1, canvas.height>>1);
    showReplayButton();
  }
}

var draw = function(ctx){
  ctx.clearRect(0,0,ctx.canvas.width,ctx.canvas.height);
  for(var i =0; i<PROJECTILES.length;i++)
  {
    if(PROJECTILES.stopped){
      PROJECTILES.splice(i, 1);
    }
    else
    {
      PROJECTILES[i].avancer();
      PROJECTILES[i].draw(ctx);
    }
  }

  for(var i =0; i<MECHANTS.length;i++)
  {
    MECHANTS[i].draw(ctx);
  }

  if(bonus.taken == false)
  {
    bonus.draw(ctx)
  }

  perso.draw(ctx);
  drawProgressBar(perso.life, ctx, 2, 20);
  drawScoreBoard(perso.score, perso.level, ctx, canvas)
}


loop();


    }



    </script>

  </body></html>
